<template>
    <div class="fillpanel h" v-loading="loading">
        <el-alert v-if="error" type="error">
            {{error.message}}

            <el-button v-on:click="loadMessage">Retry</el-button>
        </el-alert>

        <div class="toolbar"><el-button size="small" @click="download">Open</el-button></div>
        <template v-if="source" class="fillpanel fill">
            <pre class="source fill fillpanel" v-highlightjs="source"><code class="fill"></code></pre>
        </template>
    </div>
</template>
<script src="./messagepartsource.ts"></script>