@{
    ViewData["Title"] = "smtp4dev - loading";
}

<div id='app-root'>smtp4dev - Loading...</div>

<div id="oldbrowser" style="display: none; width: 100%; text-align: center; margin: 32px;">
    <h1 style="float: none;">Your browser is unsupported!</h1>
    <div>Please use a modern browser.
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
