@model Rnwood.Smtp4dev.UI.Shared.Components.ServerStatus.ServerStatusViewModel

@if (!Model.ServerRunning)
{
    <div class="alert alert-warning">Server is not running!</div>
}

@if (Model.ServerError != null)
{
    <div class="alert alert-danger">Server error: @Model.ServerError</div>
}