version: 3.0.{build}-ci
os: Visual Studio 2017
configuration: Release
skip_tags:  false
assembly_info:
  patch: true
  file: '**\SolutionInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
nuget:
  account_feed: false
  project_feed: false
init:
 - ps: |
    $version = $env:APPVEYOR_BUILD_VERSION
    if ($env:APPVEYOR_REPO_TAG_NAME) {
       Update-AppveyorBuild -version $env:APPVEYOR_REPO_TAG_NAME
       $version = $env:APPVEYOR_REPO_TAG_NAME
    }
    Set-AppveyorBuildVariable 'PRERELEASE' (($version.Contains("-")).ToString())
install:
- cmd: |
    dotnet restore
build_script:
 - cmd: dotnet build Rnwood.SmtpServer -c %Configuration%
after_build:
 - ps: |
    dotnet pack Rnwood.SmtpServer -c $env:Configuration -p:"PackageVersion=$env:APPVEYOR_BUILD_VERSION"
build:
  publish_nuget: false
  publish_nuget_symbols: false
  parallel: true
  verbosity: minimal
artifacts:
- path: Rnwood.SmtpServer\bin\$(configuration)\*.nupkg
test_script:
- cmd: dotnet test Rnwood.SmtpServer.Tests\Rnwood.SmtpServer.Tests.csproj
deploy:
- provider: GitHub
  artifact: /.*\..*/
  auth_token:
    secure: 5zLYIRVYHWHyZYOUZ2F46AvAYb3OLIWs35PQUddGkyK3xkV7qCmaMT38PJY6OiY7
  prerelease: $(PRERELEASE)
  tag: $(APPVEYOR_REPO_TAG_NAME)
  on:
    branch: master
    appveyor_repo_tag: true 
- provider: NuGet
  api_key:
    secure: ISMI/iLYa+IKyqPkWpEYwgOceuVrR8mX3+sGEFr04Uo7FoM1goIGOqpr0JalCJPe
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    branch: master