<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rnwood.Smtp4dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="smtp4dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rnwood.Smtp4dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rnwood.Smtp4dev.Properties.Settings>
            <setting name="StartInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BalloonNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ScrollMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoViewNewMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToSysTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BringToFrontOnNewMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxMessages" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enable8BITMIME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSTARTTLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSLCertificatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="EnableSIZE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAUTH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumMessageSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ReceiveTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="AutoInspectNewMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InspectOnBalloonClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireSecureConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyAllowClearTextAuthOverSecureConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheckInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SSLCertificatePassword" serializeAs="String">
                <value />
            </setting>
        </Rnwood.Smtp4dev.Properties.Settings>
        <smtp4dev.Properties.Settings>
            <setting name="StartInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BalloonNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ScrollMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoViewNewMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToSysTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BringToFrontOnNewMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxMessages" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enable8BITMIME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSTARTTLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSLCertificatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="EnableSIZE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAUTH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumMessageSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </smtp4dev.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Rnwood.Smtp4dev.Properties.Settings>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://smtp4dev.svn.codeplex.com/svn/trunk/releases.xml</value>
            </setting>
            <setting name="UpdateCheckIncludePrerelease" serializeAs="String">
                <value>True</value>
            </setting>
        </Rnwood.Smtp4dev.Properties.Settings>
    </applicationSettings>
</configuration>