version: 3.0.0-alpha-{build}
os: Visual Studio 2017
configuration: Release
environment:
  FRAMEWORK: netcoreapp2.0
  matrix:
    - RUNTIME: noruntime
    - RUNTIME: win-x86      	
    - RUNTIME: linux-x64
    - RUNTIME: osx-x64
assembly_info:
  patch: true
  file: '**\SolutionInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
nuget:
  account_feed: false
  project_feed: false
install:
- cmd: |
    dotnet restore
    npm install -g gulp bower
build_script:
 - cmd: dotnet build Smtp4dev.sln -c %Configuration%
after_build:
 - ps: |
    $versionsuffix=$("{0:D4}" -f [convert]::ToInt32($env:APPVEYOR_BUILD_NUMBER, 10))
    if ($env:RUNTIME -ne "noruntime") {
       dotnet publish Rnwood.Smtp4dev -c $env:Configuration -f $env:FRAMEWORK -r $env:RUNTIME 	--version-suffix $versionsuffix
    } else {
       dotnet publish Rnwood.Smtp4dev -c $env:Configuration -f $env:FRAMEWORK --version-suffix $versionsuffix	
    }
build:
  publish_nuget: false
  publish_nuget_symbols: false
  parallel: true
  verbosity: minimal
artifacts:
- path: Rnwood.Smtp4dev\bin\$(configuration)\$(framework)\$(runtime)\publish
  name: Smtp4dev-$(runtime)-v$(appveyor_build_version)
  type: zip
- path: Rnwood.Smtp4dev\bin\$(configuration)\$(framework)\publish
  name: Smtp4dev-noruntime-v$(appveyor_build_version)
  type: zip
deploy:
  provider: GitHub
  artifact: /.*\..*/
  auth_token:
    secure: 5zLYIRVYHWHyZYOUZ2F46AvAYb3OLIWs35PQUddGkyK3xkV7qCmaMT38PJY6OiY7
  prerelease: true