<div class="messagelist">

    <div class="row" data-bind="visible: showActions">
        <div class="col-sm-6">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-toolbar" data-bind="click: loadMessages, visible: !isAutoRefreshEnabled()"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="btn-group btn-group-sm " role="group">
                <button type="button" class="btn btn-toolbar" data-bind="click: deleteAll"><i class="fa fa-trash"></i> Delete all</button>
            </div>
        </div>

        <div class="input-group input-group-sm col-sm-6">
            <input type="text" class="form-control" data-bind="textInput: searchTerm" placeholder="Search" />
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>

    <div class="row">

        <div class="table-responsive col-sm-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Received</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Subject</th>
                        <th data-bind="if: showActions"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: messages, visible: !loading()">
                    <tr data-bind="click: view" style="cursor: pointer">
                        <td data-bind="text: receivedDateString"></td>
                        <td data-bind="text: from"></td>
                        <td data-bind="foreach: to"><span data-bind="text:$data"></span></td>
                        <td data-bind="text: subject"></td>
                        <td data-bind="if: $parent.showActions" class="actions"><button type="button" data-bind="click: deleteMessage, clickBubble: false" class="fa fa-trash"></button></td>
                    </tr>
                </tbody>
                <tbody data-bind="if: loading() || error()">
                    <tr>
                        <td data-bind="attr: {colspan: showActions ? 5 : 4}" class="text-center"><busy params="busy: loading, message:'Loading messages...'"></busy><span data-bind="text:error"></span></td>
                    </tr>
                </tbody>

                <tbody data-bind="if: messages().length == 0 && !loading() && !error()">
                    <tr>
                        <td data-bind="attr: {colspan: showActions ? 5 : 4}" class="text-muted text-center">No messages received yet.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>