<busy params="busy:loading, message:'Loading...'"></busy>

<form data-bind="visible: !loading(), submit: save" class="form">

    <fieldset class="form-group">
        <label for="port" class="control-label">Enabled</label>
        <input type="checkbox" class="checkbox" data-bind="checked: isEnabled" />
    </fieldset>
    <fieldset class="form-group">
        <label for="port" class="control-label">Port Number</label>
        <input class="form-control" pattern="[1-9][0-9]*" required data-bind="value: port" />
    </fieldset>
    <input class="btn btn-submit" type="submit" value="Apply" />
    <busy params="busy:saving, messge: 'Saving...'"></busy>
</form>