html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#app-root {
    width: 100%;
    height: 100%;
}

.el-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.el-tab-pane {
    flex: 1 0 0;
}

.el-tabs__content {
    flex-grow: 1;
    display: flex;
}

.messagelist, .messageview, .sessionlist, .headers {
    display: flex;
    flex-direction: column;
}

.el-table {
}

.messagelist .table, .sessionlist .table, .headers .table {
    overflow-y: scroll;
    overflow-x: auto;
    flex: 1;
}

.el-icon-caret-right:before {
    content: "" !important;
}

.fillpanel {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    column-gap: 10px
}

.fillpanel.h {
    flex-direction: column;
}

.fill {
    flex: 1 0 0;
    overflow: auto;
}

.fillhalf {
    flex: none;
    width: 50%;
}

.centrecontents {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-self: center;
}

.pad {
    padding: 6px;
}

.nopad {
    padding: 0;
}

iframe {
    border-width: 0;
}

[v-cloak] {
    display: none
}

h1 {
    margin: 0;
    font-size: 1.2em;
    float: left;
}

h2 {
    margin: 0;
    font-size: 1em;
    float: right;
}

header {
    padding-left: 10px;
}

.messageviewheader td, .sessionviewheader td {
    padding: 5px;
    vertical-align: top;
}

.nodetails {
    color: #5e7382;
    text-align: center;
}

.el-icon-caret-right:before {
    display: none;
}

tr.error td {
    background-color: rgba(255, 73, 73, 0.40);
}

pre.source code {
    overflow: auto;
    text-wrap: none;
}

.messagelist tr.unread {
    font-weight: bold;
}

.toolbar {
    padding-top: 6px;
    padding-bottom: 6px;
}