<div class="messageview fill fillpanel">

    <el-alert v-if="error" type="error">
        {{error.message}}

        <el-button v-on:click="loadMessage">Retry</el-button>
    </el-alert>

    <div v-if="messageSummary" v-loading="loading" class="fillpanel h fill">
        <div>
            Subject: {{messageSummary.subject}}
        </div>

        <el-tabs value="view" style="height: 100%; width:100%" class="fill">


            <el-tab-pane label="View" name="view" class="fillpanel h">
                <messageviewattachments :message="message" />
                <messageview-html :message="message" class="fill" />
            </el-tab-pane>

            <el-tab-pane label="Headers" name="headers" class="fillpanel h">
                <template v-if="message">
                    <headers :headers="message.headers" class="fill" />
                </template>
            </el-tab-pane>

            <el-tab-pane label="Parts" name="parts" class="fillpanel h">

                <template v-if="message">


                    <el-tree :data="message.parts" :props="{label: 'name', children: 'childParts', disabled: false, isLeaf: isLeaf}" @node-click="handleNodeClick" highlight-current default-expand-all empty-message="No parts"></el-tree>


                    <div v-if="selectedPart" class="fill fillpanel">

                        <el-tabs value="headers" class="fill fillpanel h">
                            <el-tab-pane label="Headers" name="headers"><headers :headers="selectedPart.headers" /></el-tab-pane>


                            <el-tab-pane label="Source" name="source" class="fill fillpanel">

                                <messagepartsource class="fill" :messageEntitySummary="selectedPart"></messagepartsource>
                            </el-tab-pane>

                        </el-tabs>

                    </div>
                </template>
            </el-tab-pane>
        </el-tabs>




    </div>

    <div v-if="!messageSummary">
        No message selected
    </div>

</div>