body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.nav .fa {
    margin-right: 5px;
}

.validation-summary-valid.alert-danger {
    display: none;
}