@using Rnwood.Smtp4dev.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] smtp4dev</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">smtp4dev</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/messages"><i class="fa fa-envelope-o fa-lg"></i> Messages</a></li>
                    <li><a href="#/sessions"><i class="fa fa-terminal fa-lg"></i> Sessions</a></li>
                    <li><a href="#/settings"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="/swagger/ui">API</a></li>
                    <li><a target="_blank" href='https://www.paypal.me/rnwood'>Donate to support development</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <serverstatus></serverstatus>

        @RenderBody()
    </div>

    <script src="~/lib/requirejs/require.js"></script>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>