<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <SMTP4DEV_E2E_WORKINGDIR>C:\src\smtp4dev-master\Rnwood.Smtp4dev.Desktop\bin\Debug\net8.0</SMTP4DEV_E2E_WORKINGDIR>
      <SMTP4DEV_E2E_BINARY>C:\src\smtp4dev-master\Rnwood.Smtp4dev.Desktop\bin\Debug\net8.0\Rnwood.Smtp4dev.Desktop.exe</SMTP4DEV_E2E_BINARY>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
